In [514]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [515]:
data = pd.read_csv('movie_bd_v5.csv', encoding='U8')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
801,tt0905372,35000000,28128670,The Thing,Mary Elizabeth Winstead|Joel Edgerton|Ulrich T...,Matthijs van Heijningen Jr.,It's Not Human. Yet.,When paleontologist Kate Lloyd travels to an i...,103,Horror|Science Fiction|Mystery|Thriller,Universal Pictures|Strike Entertainment|Morgan...,10/12/2011,6.0,2011
227,tt2799166,6500000,13865435,The Pyramid,Ashley Hinshaw|Denis O'Hare|James Buckley|Chri...,GrÃ©gory Levasseur,You Only Enter Once,A team of U.S. archaeologists unearths an anci...,89,Horror,Fox International Productions|Sahara Productio...,12/4/2014,4.7,2014
474,tt0968264,25000000,15478800,The Conspirator,Evan Rachel Wood|James McAvoy|Kevin Kline|Robi...,Robert Redford,One bullet killed the President. But not one man.,Mary Surratt is the lone female charged as a c...,122,Crime|Drama|History,Wildwood Enterprises|American Film Company,9/10/2010,5.9,2010
1276,tt1935179,10000000,21587700,Mud,Matthew McConaughey|Tye Sheridan|Jacob Lofland...,Jeff Nichols,People just sometimes forget why they fell in ...,A drama centered on two teenage boys who encou...,130,Drama,FilmNation Entertainment|Everest Entertainment,5/1/2013,6.9,2013
646,tt1023111,20000000,41627431,Never Back Down,Sean Faris|Amber Heard|Cam Gigandet|Djimon Hou...,Jeff Wadlow,Win or lose... Everyone has their fight.,Rebellious Jake Tyler is lured into an ultimat...,115,Drama|Action,Summit Entertainment|Mandalay Pictures|Baumgar...,3/4/2008,6.5,2008

In [516]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [517]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.revenue - data.budget

# function aimed for collecting all genres in the data set 
def genre_array(serie):
    genres = []
    for genre in serie:
        temp_array = genre.split('|')
        for word in temp_array:
            genres.append(word)
    return genres

# list estimation function
def count_collect(array):
    c = Counter()
    for counter in array:
        c[counter] += 1
    return c

#Value extractor and counter
def counter(frame, attribute):
    attr_list = frame[attribute].str.cat(sep='|')
    attr_ser = pd.Series(attr_list.split('|'))
    ser_count = attr_ser.value_counts(ascending=False)
    return ser_count

data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
data['title_words_length'] = data.original_title.map(lambda s: len(s))
data['overview_length'] = data.overview.map(lambda s: len(s))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [518]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [519]:
display(data[data.budget == data.budget.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_words_length,overview_length
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5,43,411

ВАРИАНТ 2

In [520]:
display(data.query('budget == budget.max()'))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_words_length,overview_length
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5,43,411

# 2. Какой из фильмов самый длительный (в минутах)?

In [521]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [522]:
display(data.query('runtime == runtime.max()'))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_words_length,overview_length
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2,17,307

# 3. Какой из фильмов самый короткий (в минутах)?

In [523]:
display(data.query('runtime == runtime.min()'))
answers['3'] = '3. Winnie the Pooh (tt1449283)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_words_length,overview_length
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4,15,305

# 4. Какова средняя длительность фильмов?

In [524]:
display(round(data.runtime. mean()))
answers['4'] = '2. 110'

110

# 5. Каково медианное значение длительности фильмов?

In [525]:
display(round(data.runtime.median()))
answers['5'] = '1. 107'

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [526]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(data[data.profit == data.profit.max()])
answers['6'] = '5. Avatar (tt0499549)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_words_length,overview_length
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12,6,175

# 7. Какой фильм самый убыточный?

In [527]:
display(data[data.profit == data.profit.min()])
answers['7'] = '5. The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_words_length,overview_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15,386

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [528]:
display(data.profit[data.profit > 0].count())
answers['8'] = '1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [529]:
display(data[data.release_year == 2008].query('profit == profit.max()'))
answers['9'] = '4. The Dark Knight (tt0468569)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_words_length,overview_length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,396

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [530]:
display(data[(data.release_year >= 2012) & (data.release_year <= 2014)].query('profit == profit.min()'))
answers['10'] = '5. The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_words_length,overview_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15,386

# 11. Какого жанра фильмов больше всего?

In [531]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genre = genre_array(data.genres)
c = count_collect(genre)
print(c.most_common(1))

answers['11'] = '3. Drama'

[('Drama', 782)]

ВАРИАНТ 2

In [532]:
genres = pd.Series([x.split('|') for x in data.genres]).explode().value_counts().head(1)
display(genres)

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [533]:
array = pd.Series([x.split('|') for x in data.query('profit > 0').genres]).explode().value_counts().head(1)
display(array)
answers['12'] = '1. Drama'

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [536]:
data.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1)
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [537]:
actions = data[data.genres.str.contains("Action")]
actions['director'].str.split('|',expand=True).stack().value_counts().head(1)
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [539]:
movies_2012 = data.query('release_year == 2012')
c = Counter()
for index in range(0, len(movies_2012)):
    for actor in movies_2012.iloc[index]['cast'].split('|'):
        c[actor] += movies_2012.iloc[index]['revenue']
print(c.most_common(1))
answers['15'] = '3. Chris Hemsworth'

[('Chris Hemsworth', 2027450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [540]:
cost_movie = data.query('budget > budget.mean()')
c = Counter()
for index in range(0, len(cost_movie)):
    for actor in cost_movie.iloc[index]['cast'].split('|'):
        c[actor] += 1
print(c.most_common(1))

answers['16'] = '3. Matt Damon'

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [541]:
cage_movies = data[data.cast.str.contains("Cage")]
cage_genres = cage_movies.genres.str.split('|').explode().value_counts().head(1)
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [542]:
paramount = data[data.production_companies.str.contains("Paramount Pictures")]
paramount.query("profit == profit.min()")
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [543]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [544]:
bros = data[data.production_companies.str.contains("Warner Bros")]
bros.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [545]:
data.groupby('month')['imdb_id'].count().sort_values(ascending=False).head(1)
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [546]:
data[data.month.isin([6,7,8]) == True].imdb_id.count()
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [550]:
winter = data[data.month.isin([1,2, 12]) == True]
directors = winter.director.str.split('|').explode().value_counts().head(1)
display(directors)
answers['23'] = '5. Peter Jackson'

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [552]:
companies = counter(data,'production_companies')
for company in companies.index:
    companies[company] = data['title_words_length'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
result = pd.DataFrame(companies).sort_values(0, ascending=False)
result.head(1)
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [553]:
companies = counter(data,'production_companies')
for company in companies.index:
    companies[company] = data['overview_length'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
result = pd.DataFrame(companies).sort_values(0, ascending=False)
result.head(1)
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [554]:
filtered = data.query('vote_average > vote_average.quantile(0.993)')
filtered.original_title.isin(['Inside Out', 'The Dark Knight', '12 Years a Slave']) #+
filtered.original_title.isin(['BloodRayne', 'The Adventures of Rocky & Bullwinkle'])
filtered.original_title.isin(['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'])
filtered.original_title.isin(['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'])
filtered.original_title.isin(['Upside Down', 'Inside Out', 'Iron Man'])
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [555]:
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for actor in actor_list:
    for next_actor in combinations(actor, 2):
        combo_list.append(' '.join(sorted(next_actor)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combo']
combo_list.actor_combo.value_counts().head(1)
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [556]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [557]:
# и убедиться что ни чего не пропустил)
len(answers)

27